<div class="navbar-fixed">
  <nav class="light-blue darken-2">
    <div class="nav-wrapper">
      <%= link_to 'Hacker News Materialize', root_path, class: 'brand-logo center' %>
    </div>
  </nav>
</div>
