<div class="container">
  <div  id='posts-container' class="row">
    <% @posts.each do |post| %>
      <%= render 'post_card', post: post %>
    <% end %>
  </div>
</div>
<div class="fixed-action-btn horizontal">
  <%= link_to '/posts/refresh', class: 'btn-floating btn-large waves-effect waves-light light-blue darken-2 pulse', remote: true do %>
    <i class="large material-icons">sync</i>
  <% end %>
</div>
